.menuItem {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}

.menuItem img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.menuItem:hover {
  background-color: rgba(240, 240, 240, 0.8);
}