.container {
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgba(150, 100, 100, 0.5);
    border-bottom: 1px solid #eee;
}

.main {
    grid-area: main;
    background-color: rgba(100, 150, 100, 0.5);
    flex: 1;
    overflow: auto;

    display: grid;
        grid-template-areas:
            "logo search"
            "menu main";
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr;
}

.footer {
    grid-area: footer;
    background-color: rgba(50, 100, 100, 0.5);
    padding: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
}

.logo {
    grid-area: logo;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    background-color: #fff;
}

.search0 {
    grid-area: search;
    /* display: grid;
    grid-template-columns: auto 1fr; */
    background-color: rgba(150, 100, 150, 0.5);
}


.menu {
    grid-area: menu;
    background-color: rgba(100, 150, 150, 0.5);
    padding: 1rem;
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "logo search"
        "menu main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}



